@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#festContainer {
    display: none;
    background-color:cadetblue;
    width: 525px;
    height: 650px;
    background-image: url('../img/cityscape.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
}

span {
    font-size: 15px;
    color: white;
}

#screenshotImg {
    height: 600px;
}

.grid {
    display: grid;  
    grid-auto-flow: column;
}

.spotifyLogo {
    height: 25px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    margin-left: 60px;
}

.logout {
    float: right;
    cursor: pointer;
}

.logoutIcon {
}

.cardBody {}